body{
    border-style: groove;
}
.a{
    color:white;
    background-color:black;
    text-align: center;
    border:5px rgb(13, 12, 12) outset;
}
    

.img{
text-align: center;
color:black;
font-family:cursive;
}
.h2{
    font-family: 'Courier New', Courier, monospace;
}
.body{
    text-align: center;
    background-color: black;
    color:white;
}
.footer{
    text-align: center;
    padding:1rem 0;
    background-color: black;
    color: white;

}